:root {
    --desktop-left-side: 20%;
    --desktop-right-side: 80%;
    --mobile-right-side: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.navbar {
    height: 38px; /* Change Spacer in HTML */
    position: fixed;
    top: 0px;
    width: var(--desktop-right-side);
    left: var(--desktop-left-side);
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 0px;
}

.nav-links {
    list-style: none;
    position: fixed;
    top: 32px;
    left: 100%; /* Off-screen initially */
    width: var(--desktop-right-side);
    height: 100vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease-in-out; 
}

.nav-links.active {
    left: var(--desktop-left-side); 
    opacity: 1;
    visibility: visible; 
}

.nav-links li {
    margin: 20px 0;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.desktop-profile {
    top: 0px;
    position: fixed;
    display: block;
    height: 100%;
    width: var(--desktop-left-side);
    background-color: #283845;
}

.mobile-profile {
    display: none;
}
.main-content {
    margin-left: var(--desktop-left-side);
    width: var(--desktop-right-side);
}

.desktop-navbar {
    display: flex;
    background-image: url("assets/2024-02-10_Nav Background.png");
    height: 300px;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px;
}

.desktop-navbar-item {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px;
    width: 16%;
    height: 75%;
}

.desktop-image-wrapper {
    height: 400px;
    background-image: url("assets/2024-02-10_Bookshelf\ Background.png");
    display: grid;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.desktop-headshot {
    align-self: end;
    justify-self: center;
    width: 50%;
    padding: 16px;
    object-fit: contain;
}

.desktop-logo {
    align-self: start;
    justify-self: center;
    width: 50%;
    object-fit: contain;
}

.contact-links {
    align-self: end;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contact-link {
    align-items: center;
    display: flex;
    padding: 8px;
}

.contact-link-image {
    width: 32px;
}

.contact-link-text {
    color: white;
    margin-left: 8px;
}

/* Hamburger Menu */
.hamburger-menu {
    display: block;
    cursor: pointer;
    margin-right: 20px;
}

.hamburger-menu .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

/* Responsive Behavior */
@media (max-width: 768px) {
    .navbar {
        width: var(--mobile-right-side);
        left: 0%;
    }

    .nav-links {
        width: var(--mobile-right-side);
    }

    .nav-links.active {
        left: 0%;
    }

    .desktop-profile {
        display: none;
    }

    .desktop-navbar {
        display: none;
    }

    .mobile-profile {
        display: block;
        height: 256px;
        width: 100%;
        background-color: #283845;
    }
    
    .main-content {
        margin-left: 0%;
        width: 100%;
    }
}

/* Customize the entire scrollbar */
::-webkit-scrollbar {
    width: 0px; /* Adjust the width */
  }
  
  /* Style the scrollbar track (background) */
  ::-webkit-scrollbar-track {
    background-color: transparent; /* Light gray color */
    border-radius: 8px; /* Add rounded corners */
  }
  
  /* Style the scrollbar thumb (the draggable part) */
  ::-webkit-scrollbar-thumb {
    background-color: #555; /* Darker shade of gray */
    border-radius: 8px;
  }
  
  /* Add hover effect to the thumb */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #333;
  }

  html {
    scroll-padding-top: 100px;
  }
  