body {
    margin: 0;
    font-family: sans-serif;
}

.navbar {
    position: fixed;
    top: 0px;
    width: 75%;
    left: 25%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 0px;
}

.nav-links {
    list-style: none;
    position: fixed;
    top: 32px;
    left: 100%; /* Off-screen initially */
    width: 75%;
    height: 100vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease-in-out; 
}

.nav-links.active {
    left: 25%; 
    opacity: 1;
    visibility: visible; 
}

.nav-links li {
    margin: 20px 0;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.desktop-profile {
    top: 0px;
    position: fixed;
    display: block;
    height: 100%;
    width: 25%;
    background-color: #283845;
}

.mobile-profile {
    display: none;
}

.main-content {
    margin-left: 25%;
    width: 75%;
}

.desktop-navbar {
    display: block;
}

/* Hamburger Menu */
.hamburger-menu {
    display: block;
    cursor: pointer;
    margin-right: 20px;
}

.hamburger-menu .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

/* Responsive Behavior */
@media (max-width: 768px) {
    .navbar {
        width: 100%;
        left: 0%;
    }

    .nav-links {
        width: 100%;
    }

    .nav-links.active {
        left: 0%;
    }

    .desktop-profile {
        display: none;
    }

    .desktop-navbar {
        display: none;
    }

    .mobile-profile {
        display: block;
        height: 256px;
        width: 100%;
        background-color: #283845;
    }
    
    .main-content {
        margin-left: 0%;
        width: 100%;
    }
}

/* Customize the entire scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Adjust the width */
  }
  
  /* Style the scrollbar track (background) */
  ::-webkit-scrollbar-track {
    background-color: #e0e0e0; /* Light gray color */
    border-radius: 8px; /* Add rounded corners */
  }
  
  /* Style the scrollbar thumb (the draggable part) */
  ::-webkit-scrollbar-thumb {
    background-color: #555; /* Darker shade of gray */
    border-radius: 8px;
  }
  
  /* Add hover effect to the thumb */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #333;
  }

  html {
    scroll-padding-top: 100px;
  }
  